<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386697504013-sihnji1f9i14v5mkf8mt481veuoslirp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386697504013-sihnji1f9i14v5mkf8mt481veuoslirp</string>
	<key>API_KEY</key>
	<string>AIzaSyD-HADz9it_-p7Sdd-wd80aCZR4K_RzHd0</string>
	<key>GCM_SENDER_ID</key>
	<string>386697504013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab06</string>
	<key>PROJECT_ID</key>
	<string>mobileapp170-304f1</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileapp170-304f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386697504013:ios:6bd740e700d87398993c44</string>
</dict>
</plist>